@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    overscroll-behavior: none;
}


h1 {
    font-size: large;
}

nav {
    padding: 1rem 4rem;
    background-color: rgba(0, 0, 0, 0.4);
    background-color: black;
    justify-content: space-between;
    color: white;
    text-transform: uppercase;
    height: ;
}

navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding-top: 15px;
}

navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    width: 30%;
    /* background-color: aliceblue; */
    /* height: auto; */
}

.logo i {
    padding-right: 10px;
    padding-bottom: 7px;
}

.logo h1 {
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: none;
}

a {
    /* padding-left: 2rem; */
    text-decoration: none;
    color: white;
    
}

a:hover {
    text-decoration: none;
    color: rgb(255, 140, 0);
}

ul li, li button {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    padding-left: 10px;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
}

li button{
    background-color: #427925;
    color: white;
    font-size: medium;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    margin-left: 5px;
}

li button:hover {
    background-color: rgb(255, 140, 0);
    color: white;
}

.mobile-icon {
   /* visibility: hidden; */
   display: none;
}

/* @media screen and (min-width: 793) {
    
} */

.carousel-item img {
    min-height: auto;
}

/* Section Summary */

.section1 {
    color: rgb(47, 49, 89);
    background-color: whitesmoke;
    line-height: 25px;
    text-align: center;
    padding: 3rem;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section1 h1 {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 2rem;
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 50%;
}

.about {
    text-align: center;
    width: 80%;
}

.about p {
    height: auto;
    display: inline;
    text-align: center;
    margin-bottom: 15px;
}

.badge-grid {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    margin-top: 3rem;
}

.badge {
    color: rgb(47, 49, 89);
    font-size: larger;
    display: flex;
    align-items: center;
    text-align: left;
    border-radius: 0;
    border-top: 2px solid rgb(47, 49, 89);
    border-bottom: 2px solid rgb(47, 49, 89);
}

.badge div h3 {
    font-size: smaller;
}

.fa-solid {
    padding: 0 8px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    background-color: blueviolet;
    margin: 1rem;
    align-items: center;
  
}
