@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap');

* {
    margin: 0;
    font-family: 'Barlow', sans-serif;
    overscroll-behavior: none;
}


h1 {
    font-size: large;
}

nav {
    padding: 1rem 4rem;
    background-color: rgba(0, 0, 0, 0.4);
    background-color: black;
    justify-content: space-between;
    color: white;
    text-transform: uppercase;
}

navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding-top: 15px;
}

navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    width: 30%;
    /* background-color: aliceblue; */
    /* height: auto; */
}

.logo i {
    padding-right: 10px;
    padding-bottom: 7px;
}

.logo h1 {
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: none;
}

a {
    /* padding-left: 2rem; */
    text-decoration: none;
    color: white;
    
}

a:hover {
    text-decoration: none;
    color: rgb(255, 140, 0);
}

ul li, li button {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    padding-left: 10px;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
}

li button{
    background-color: #427925;
    color: white;
    font-size: medium;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    margin-left: 5px;
}

li button:hover {
    background-color: rgb(255, 140, 0);
    color: white;
}

.mobile-icon {
   /* visibility: hidden; */
   display: none;
}



/* MAIN SECTION */

.carousel-item img {
    width: 100vw;
    height: 90vh;
}

main {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 5rem;
    height: 100vh;
    color: white;
}

.animate__animated.animate__fadeIn {
    --animate-duration: 2s;
    --animate-delay: 2s;
  }

.box {
    background-color: aliceblue;
    height: 15rem;
    width: 15rem;
}

.intro {
    width: 50%; 
    height: 60%;
}

.section1 {
    height: 70vh;
    color: white;
    background-color: rgb(10, 23, 64);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    line-height: 25px;
    padding: 3rem;
}

.section1 h2 {
    padding-bottom: 1rem;
}

.content1 {
    display: flex;
    height: 90%;
    align-items: center;
    justify-content: space-around;
}

.about, .skills {
    width: 40%;
    height: 70%;
    background-color: rgb(92, 195, 198);
    padding: 20px;
}

.skills ul {
    display: flex;
    flex-direction: column;
}

.section2 {
    height: 100vh;
    color: aliceblue;
    background-color: rgb(32, 31, 31);
    padding: 3rem;
    text-align: center;
}

.section2 h2 {
    text-align: center;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    background-color: blueviolet;
    margin: 1rem;
    align-items: center;
  
}
